@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    #wrapper {
        padding: 0;
    }

    nav {
        background-color: #222;

    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: .5em 0;
    }

    /* Overview */

    .solar-system-wrapper {
        flex-direction: column;
        padding-top: 0;
        justify-content: space-around;
        align-items: center;
    }

    .sun-container {
        width: 100vw;
        height: 35vw;
        overflow: hidden;
        position: relative;
    }

    .sun {
        position: absolute;
        width: 100vw;
        height: 100vw;
        bottom: 1em;
        left: 50%;
    }

    .sun,
    .sun:hover {
        transform: translateX(-50%);
        transition: none;
    }

    .sun,
    .planet {
        margin: 3.5em 0;
    }

    .planet:hover {
        transform: scale(3.15);
    }

    .mercury,
    .venus,
    .earth,
    .mars,
    .jupiter,
    .saturn,
    .uranus,
    .neptune {
        transform: scale(3);
    }

    /* Planets: */

    .planet-list-entry {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        border-bottom: 1px solid white;
    }

    .planet-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .planet-image img {
     max-width: 66vw;
    }

    .planet-description h2 {
        text-align: center;
    }
}